
include ./prefab/component/_anchor

//- +anchor("#")(class="u-n-prefab") Text

include ./prefab/component/_image

//- +image("index/image.webp")(class="u-n-prefab")
//- +image("index/image.webp","index/image_sp.webp")(class="u-n-prefab")
//- +image_figure("index/image.webp")(class="u-n-prefab")
//- +image_figure("index/image.webp","index/image_sp.webp")(class="u-n-prefab")

include ./prefab/component/input/_input_menu01

include ./prefab/project/menu/_menu_noresponsive01
include ./prefab/project/menu/_menu01

include ./prefab/project/swiper/_swiper01
