
/* ------------------------
/*   object/project/prefab/menu/menu_noresponsive01
/* -------------------------------- */

@use 'sass:map';
@use '../../../../global' as *;

@if map.has-key($prefabs, menu_noresponsive01) or $gallery {

  $menu_height: rv(60);
  $menu_check_margin: rv(5);

  .p-n-menu-noresponsive01 {
    border: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: $menu_height;

    // .p-n-menu-noresponsive01:has(label input:checked)
    &:has(label input:checked) {
      z-index: $order_menu;
    }

    // .p-n-menu-noresponsive01 .-menu-check
    .-menu-check {
      display: none;
      margin: $menu_check_margin;
    }

    // .p-n-menu-noresponsive01 .-menu-check:has(input:checked) + .-menu-modal .-menu-blind
    .-menu-check:has(input:checked) + .-menu-modal .-menu-blind {
      background-color: rgba(0, 0, 0, 0.5);
      visibility: visible;
    }

    // .p-n-menu-noresponsive01 .-menu-check:has(input:checked) + .-menu-modal .-menu-frame
    .-menu-check:has(input:checked) + .-menu-modal .-menu-frame {
      transform: translate(0vw, 0vh);
      opacity: 1;
      pointer-events: all;
    }

    // .p-n-menu-noresponsive01 .-menu-check:has(input:checked) + .-menu-modal .-menu-content
    .-menu-check:has(input:checked) + .-menu-modal .-menu-content {
      padding: rv(20);
      padding-top: $menu_height;
    }

    // .p-n-menu-noresponsive01 .-menu-modal
    .-menu-modal {
      position: absolute;
      width: 100%;
      height: inherit;
    }

    // .p-n-menu-noresponsive01 .-menu-blind
    .-menu-blind {
      display: none;
      position: absolute;
      width: 100vw;
      height: 100vh;
      visibility: hidden;
      transition: background-color $fade_transition+s;
    }

    // .p-n-menu-noresponsive01 .-menu-frame
    .-menu-frame {
      background-color: $color_white_hex;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      height: inherit;
      overflow-y: auto;
      overscroll-behavior-y: contain;
      transition: transform $fade_transition_transform+s, opacity $fade_transition_transform+s;
    }

    // .p-n-menu-noresponsive01 .-menu-content
    .-menu-content {
      height: inherit;
    }
  }

  .p-n-menu-noresponsive01 {
    position: fixed;

    // .p-n-menu-noresponsive01 .-menu-check
    .-menu-check {
      display: flex;
    }

    // .p-n-menu-noresponsive01 .-menu-blind
    .-menu-blind {
      display: block;
    }

    // .p-n-menu-noresponsive01 .-menu-frame
    .-menu-frame {
      height: 100vh;
      scrollbar-width: none;
      opacity: 0;
      pointer-events: none;
    }

    // .p-n-menu-noresponsive01.-menu-left .-menu-frame
    &.-menu-left .-menu-frame {
      transform: translateX(105vw);
    }

    // .p-n-menu-noresponsive01.-menu-right .-menu-frame
    &.-menu-right .-menu-frame {
      transform: translateX(-105vw);
    }

    // .p-n-menu-noresponsive01.-menu-top .-menu-frame
    &.-menu-top .-menu-frame {
      transform: translateY(105vh);
    }

    // .p-n-menu-noresponsive01.-menu-bottom .-menu-frame
    &.-menu-bottom .-menu-frame {
      transform: translateY(-105vh);
    }

    // .p-n-menu-noresponsive01 .-menu-content
    .-menu-content {
      width: 100%;
      height: calc(100% + 1px); /* Required to enable overscroll-behavior-y */
    }
  }
}
