
// ------------------------
//   global/variable/color
// --------------------------------

// Only underscore is allowed in variable names.

$color_black_hex: #000;
$color_white_hex: #fff;
$color_gray_hex: #555;
$color_lightgray_hex: #ddd;

$color_link_hex: #0033cc;
$color_placeholder_hex: #757575;

$color_red_hex: #ea4335;
$color_green_hex: #34a853;
$color_blue_hex: #4285f4;
